<!-- create_aspirant_profile.html -->
{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block head %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.add-formset').click(function(e) {
                e.preventDefault();
                var formCount = parseInt($('#id_' + $(this).data('formset-prefix') + '-TOTAL_FORMS').val());
                var newForm = $('#empty_' + $(this).data('formset-prefix')).html().replace(/__prefix__/g, formCount);
                $(this).before(newForm);
                $('#id_' + $(this).data('formset-prefix') + '-TOTAL_FORMS').val(formCount + 1);
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div class="row"><h4>Create Aspirant Profile</h4>
    <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form aspirant_profile_form %}
        <h2>Work History</h2>
        {{ work_history_formset.management_form }}
        <div id="work_history-formset">
            {% for work_history_form in work_history_formset %}
                {% bootstrap_form work_history_form %}
            {% endfor %}
            <div id="empty_work_history" style="display: none;">
                {% bootstrap_form work_history_formset.empty_form %}
            </div>
        </div>
        <button type="button" class="btn btn-primary add-formset" data-formset-prefix="work_history">Add Work History</button>
        
        <h2>Side Projects</h2>
        {{ side_project_formset.management_form }}
        <div id="side_project-formset">
            {% for side_project_form in side_project_formset %}
                {% bootstrap_form side_project_form %}
            {% endfor %}
            <div id="empty_side_project" style="display: none;">
                {% bootstrap_form side_project_formset.empty_form %}
            </div>
        </div>
        <button type="button" class="btn btn-primary add-formset" data-formset-prefix="side_project">Add Side Project</button>
        
        <h2>Education</h2>
        {{ education_formset.management_form }}
        <div id="education-formset">
            {% for education_form in education_formset %}
                {% bootstrap_form education_form %}
            {% endfor %}
            <div id="empty_education" style="display: none;">
                {% bootstrap_form education_formset.empty_form %}
            </div>
        </div>
        <button type="button" class="btn btn-primary add-formset" data-formset-prefix="education">Add Education</button>

        <h2>Certifications</h2>
        {{ certification_formset.management_form }}
        <div id="certification-formset">
            {% for certification_form in certification_formset %}
                {% bootstrap_form certification_form %}
            {% endfor %}
            <div id="empty_certification" style="display: none;">
                {% bootstrap_form certification_formset.empty_form %}
            </div>
        </div>
        <button type="button" class="btn btn-primary add-formset" data-formset-prefix="certification">Add Certification</button>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    </div>
{% endblock %}
