
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job portal</title>
</head>
<body>
    <h1>Aspirant</h1>
    <a href="{% url 'aspirant_signup' %}"><button>Sign Up</button></a>
    <a href="{% url 'aspirant_login' %}"><button>Login</button></a>
    <h1>Employer</h1>
    <a href="{% url 'employer_signup' %}"><button>Sign Up</button></a>
    <a href="{% url 'employer_login' %}"><button>Login</button></a>
</body>
</html>